/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "twitter/bootstrap";

#eventImage{
  max-width: 200px;
  border-radius: 5px 5px 0px 0px
}
#eventContent{
  padding: 10px;
}
.item{
  background-color: #d2d2d2;
  width: 200px;
  margin-bottom: 50px;
  height: 400px;
  border-radius: 5px 5px 5px 5px
}

/* 4 columns by default */

/* .grid-sizer { width: 20%; } */

/* ----------------------------------- */
/* Panel Colours */
.greenPanel{
  background-color: #46CB78;
}
.bluePanel{
  background-color: #005F7E;
}
.redPanel{
  background-color: #F04E37;
}
.yellowPanel{
  background-color: #FFCB05;
}
