// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
.isotopeItem{
  background-color: #e8e5e5;
  margin: 12px;
/*   max-height: 400px; */
}

.eventTitle{
  position: absolute;
  left: 0px; 
  bottom: 0px;
    a {
    color:white;
  }
  color: white;
  padding: 10px;
}
.eventContent{
}

.titlebackground{
    background-color: #3cb9cc;
}
.titlebackgroundskills{
    background-color: #F04E37;
}
.titlebackgroundmeetup{
    background-color: #FFCB05;
}
.titlebackgroundstartup{
    background-color: #46CB78;
}
//show Event page
.showEventPage{
}
.eventHeadBox{
  background-color: white;
  box-shadow: 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.eventHeadTextBox {
  background-color: white;
  padding: 25px;
  box-shadow: 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  //padding: 25px;
}
.eventHeadText {
  padding-left: 25px;
  //padding: 25px;
}
.eventImage{
  height: 200px;
  width: 100%;
//background-size: ;
}

