
.mentorTitle{
  position: absolute;
  left: 0px; 
  bottom: 0px;
    a {
    color:white;
    text-decoration: underline;
  }
  height: 100%;
  width: 100%;
  color: white;
  padding: 10px;
  
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}


.mentorTitle:hover {
    opacity: 0.9;
      }

