/* Nav Bar Styles */

.navbar {
  padding: auto auto auto auto;
  a {
    color: white !important;   
  }
  border: none;
  margin: auto 0px auto 0px !important;
}
.navbar-nav .navbar-inverse{
  }
.navbar-right{
  padding-top: 35px;
}
.active {
  a{
    background-color:#3CB9CD !important;
    border-bottom: 1px dotted white; text-decoration: none;
  };
}