/* Nav Bar Styles */

.navbar {
  padding: auto 0 auto 0;
  a {
    color: white !important;   
  }
  border: none;
  border-radius: none;
}
.navbar-nav .navbar-inverse{
  }
.navbar-right{
  padding-top: 35px;
}
.active {
  a{
    background-color:#182655 !important;
    border-radius: 23px;
  };
}