/* Panel Colours */
@import "colors";
.greenPanel{
  background-color: #46CB78;
}
.bluePanel{
  background-color: #3CB9CD;
  color: white;
}
.redPanel{
  background-color: #F04E37;
}
.yellowPanel{
  background-color: #FFCB05;
}
.blackPanel{
  background-color: $midnightBlue;
  color: $clouds;
}
.greyPanel{
  background-color: $silver;
/*   color: ; */
}