<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "carousel/stressroulette.jpg", title: "stressroulette", width: "1280", height:"500"%>
<!--       <img src="/../assets/carousel/stressroulette.jpg" alt="stressroulette" width="1280" height="500">       -->
    </div>
    <div class="item">
      <%= image_tag "carousel/ITF1.jpg", title: "ideation", width: "1280", height:"500"%>
<!--       <img src="../../assets/carousel/ITF1.jpg" alt="ideation" width="1280" height="500"> -->
    </div>
    <div class="item">
      <%= image_tag "carousel/pavegen.jpg", title: "guest speaker", width: "1280", height:"500"%>
<!--       <img src="../../assets/carousel/pavegen.jpg" alt="guest speaker" width="1280" height="500"> -->
    </div>
    <div class="item">
      <%= image_tag "carousel/vccwinners.jpg", title: "vcc winners", width: "1280", height:"500"%>
<!--       <img src="../../assets/carousel/vccwinners.jpg" alt="vcc winners" width="1280" height="500"> -->
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<script>
  $(document).ready(function(){
    $(.'carousel').carousel();
  });
</script>