<section id="everythinggrid" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h1>Here's everything that's happening at the Create Lab.</h1>
        <h3>Filter by:
<a href="#">Events</a> | <a href="#">Projects</a> | <a href="#">Mentors</a>
      </div>
      <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4">
        <h3>How the year evolves</h3>
        <h3><small>Early in the year there are lots of events and skills sessions, by February projects start to appear and by March people are mainly focused on projects. <a href="#">Keep up to date.</a></small></h3>
      </div>
    </div>
    
    <div id="container"> <!-- isotope container. -->
    </div>
  </div>
</section>