<section id="everythinggrid" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h1>Here's how it goes at the Create Lab.</h1>
        <h2>Dive in</h2>
        <p>
          In the first term we run and aggregate tens of innovation related events, mostly on campus, which cover everything from helping you come up with good ideas to meeting co-founders. There are 6 regular meet-ups and 10s of other events such as Start-up weekend, hackathons and co-founder meet-ups.
        </p>
        <p>
          The regular events that run all year round include:
          <ul> 
            <li>Invent the Future - Come up with world changing ideas</li>
            <li>ICSaaS - Developer meetup and workshops</li>
            <li>Makers Meetup - Show off your projects from robots to UAVs</li>
            <li>Business Lab - 1:1 help from experienced MBAs for free!</li>
            <li>Drop in - 1:1 help to get started from just an idea</li>
          </ul>
        </p>
        <h2>Try Entrepreneurship</h2>
        <p>
          In the second term we run the Venture Catalyst Challenge which is an intensive 8 week program to turn an idea into a viable business model with a £20,000 cash prize and the chance to pitch to top investors. Whether you are keen to become an entrepreneur one day or just like to make cool things this is an amazing chance to really learn how to make something that people want.
        </p>
        <h2>Start-up package</h2>
        <p>
          In the summer term we connect teams that show commitment and early traction to mentors, services and funding to help turn your business grow. This includes entrepreneurial and industry mentors and dedicated 1:1 time to help you with marketing, PR, brand, legal, user experience, pitching and product development. You will also gain access to free co-working space and get to meet last years teams who have already gone on to raise over £1.25m! 
        </p>

      </div>
      <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4">
        <h3>How the year evolves</h3>
        <h3><small>The year is split into 3 parts (Dive in, VCC and Start-up) and you can get get involved in as little or as much as you like.</a></small></h3>
      </div>
    </div>
    
    <div id="container"> <!-- isotope container. -->
    </div>
  </div>
</section>