<div class="greyPanel section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <small>
          <p class="text-center">Find us on <a href="http://www.facebook.com/imperialcreatelab">Facebook</a> and <a href="http://www.twitter.com/icreatelab">Twitter</a>. Handmade by Imperial Create Lab and  <a href ="http://njtechnologies.co.uk">NJ Technologies</a>
          </p>
        </small>
      </div>
    </div>
  </div>
</div>
