<!--
<div class="navbar-wrapper">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="/">
          <%= image_tag "imperialcreatelab.png", title: "Imperial Create Lab" %>
        </a>
        <nav class="pull-right nav-collapse collapse">
        <ul id="menu-main" class="nav">
          <li><a title="Inspiration" href="#inspiration">Meet-up</a></li>
          <li><a title="Skill Up" href="#skillup">Skill up</a></li>
          <li><a title="Start Up" href="#startup">Start up</a></li>
          <li><a title="Join In" href="#joinin">Join in</a></li>
          <li><a title="News" href="#news">News</a></li>
          <li><a title="team" href="#team">Team</a></li>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
-->