<section id="howitworks" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h1>We are an imperial wide community interested in exploring big ideas and making them happen. Last year over 1200 students got involved and the final teams raised £1.25m.<h1>
        <h3>Whether you want to make cool things or be a successful entrepreneur Create Lab can help you get the skills and meet the right people to make it happen. The year is split into 3 parts. In the first term there are lots of <%= link_to('events', events_path) %> to learn, get inspired, get ideas and meet great people. During the second term 20 teams will enter the <a href="/venturechanllenge">Venture Catalyst Challenge</a> and get the chance to work with experts to turn their ideas into a viable business model and win a share of £20,000. Finally once you're ready we provide 1:1 help to get your business off the ground.<h3>
        <br>
        <p><a href="HOW IT WORKS">Find out more about how it all works</a><p>
      </div>
    </div>
  </div>
</section>