<section id="howitworks" class="section">
  <div class="container">
  
    <div class="row">
      <div class="col-lg-12 alignleft">
        <h2>Imperial Create Lab</h2>
          <p class="lead">An Imperial wide community interested in exploring ideas, meeting other innovative, creative people and developing the skills and connections to create amazing things and stand out in the real world. All this brought together in a simple weekly email.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="service-box">
          <%= image_tag "inspire.png", title: "Meet up and skill up" %>
          <h2>Meet-up &amp; skill up</h2>
          <p>Talks, socials, Invent the Future events, co-founder speed networking, skills workshops, hackathons and startup weekend. Invites are sent via email and social media so sign up below.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-box">
          <%= image_tag "hacksmall.png", title: "Entrepreneurship" %>
          <h2>Try out entrepreneurship</h2>
          <p>Join 100 other students who will learn the business skills to test out an idea in the real world whilst still a student and see if it is a viable alternative to a graduate job. Applications open in January.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-box">
          <%= image_tag "startup.png", title: "Startup" %>
          <h2>Startup</h2>
          <p>Show there’s real interest in your idea at any time of the year and you can get access to 1:1 guidance, expert mentors, industry connections, investors and office / prototyping space. Apply via any member of the team at an event.</p>
        </div>
      </div>
    </div>

    <h3>Why join in?</h3>
    <p>It's about getting the skills, experience and connections to get an awesome job or, if you're ready, start your own business. We connect you with industry experts, help you to come up with truly innovative ideas for university or personal projects and equip you with a skill set that gives you the independence to bring ideas to life.</p>

    <br><br><br>
  </div>
</section>