<section id="howitworks" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1> Imperial Create Lab is a community interested in exploring idas and some other awesome mission statement.</h1>
        <br>
        <h3> 
          We run <a href="#">events</a> to open your mind and meet great people, provide <a href="#">expert mentorship</a> and host the <a href="#">Venture Catalyst Challenge</a> which will help you turn an idea into reality.
          <br>
          You can just come to 1 event or go all the way and start-up, it's up to you. <a href="#">Find out how it works.</a>
        </h3>
      </div>
    </div>
  </div>
</section>