<section id="inspiration" class="section darkblue">
  <div class="container">

    <h4>Meet up and get inspired</h4>
    <div class="row">
      <div class="span10 alignleft">
        <p>You can join in as much or as little as you like, from coming along to socials to learning how to start a businesses. Events are released via email and social media and typically fill up within hours so if these sound good you may wish to consider signing up below.</p>

        <p>Events are sourced from a wide range of partners including Imperial Innovations, The Business School, Imperial Entrepreneurs, Climate KIC, Postgrad education, ICDC and many departments.</p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "hack.jpg" %>
          </div>
          <div class="post-meta blue">
            <span class="date">Create Lab Team:</span>
            <span class="date">30th Oct, 2013</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Invent the future (healthcare 1/3)</a></strong></h5>
          <p>Work with big name companies to think big and solve major challenges in healthcare&hellip;</p>
          <a href="#joinin" class="more">Sign-up for invite</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "sports.png" %>
          </div>
          <div class="post-meta">
            <span class="date">Rio Tinto:</span>
            <span class="date">8-30th Oct, 2013</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Sports innovation challenge</a></strong></h5>
            <p>Could you apply technology to improve sport?</p>
            <a href="#joinin" class="more">Sign-up for invite</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "social.png" %>
          </div>
          <div class="post-meta">
            <span class="date">Create Lab Team:</span>
            <span class="date">15th Oct</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Launch social</a></strong></h5>
            <p>Come and meet other innovators, entrepreneurs and successful teams, alumni and mentors&hellip;</p>
            <a href="#joinin" class="more">Sign-up for invite</a>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "pi.jpg" %>
          </div>
          <div class="post-meta">
            <span class="date">Create Lab Team:</span>
            <span class="date">TBA</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Meet an Imperial student who's part of the team behind the Raspberry Pi</a></strong></h5>
            <p>How an EEE student became part of the team that's revolutionising computing education&hellip;</p>
            <a href="#joinin" class="more">Sign-up for invite</a>
          </div>
        </div>
      </div>
    </div>
    <div class="blankdivider30"></div>
  </div>

</section>