<section id="joinin" class="section">
  <div class="container">
    <div class="row">
      <div class="cform" id="contact-form">
        <form action="http://icstartup.us4.list-manage1.com/subscribe/post?u=dbdd984ad348f3f071b3185f6&amp;id=3b21c86234" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
              <div class="field email">
                <input type="text" value="" name="EMAIL" class="cform-text" id="mce-EMAIL" placeholder="me@example.com">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
            <div class="col-lg-3">
              <input type="submit" value="Join the community >" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
            </div>
          </div> <!-- end row -->
        </form> 
      </div>
    </div> <!-- row --> 
  </div> <!-- container -->
</section>