<section id="joinin" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cform" id="contact-form">
          <form action="http://imperialcreatelab.createsend.com/t/d/s/ilkii/" method="post" class="validate form-inline" target="_blank" novalidate>
            <div class="field email form-group">
              <input type="email" value="" name="cm-ilkii-ilkii" class="cform-text form-control input-lg" placeholder="me@example.com">
            </div>
            <button type="submit" value="Join the community" name="subscribe" id="joinin-button" class="btn btn-lg btn-danger">Join the community <span class="glyphicon glyphicon-chevron-right"></span></button>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
          </form> 
        </div>
      </div>
    </div> <!-- row --> 
  </div>
</section>