<section id="joinin" class="section">
  <div class="container">
    <h4>Get involved</h4>
    <p>Events, socials and courses go out on email and social media first thing Monday morning and are filled on a first come-first served basis. Sign-up for updates and detials on how to get involved.</p>
    <div class="blankdivider30"></div>
    <div class="row">
      <div class="span6">
        <div class="fb-like" data-href="http://facebook.com/imperialcreatelab" data-width="450" data-show-faces="true" data-send="true"></div>
        <div class="blankdivider30"></div>
        <div class="cform" id="contact-form">
          <div id="sendmessage">Your invites are on the way...</div>
          <form action="http://icstartup.us4.list-manage1.com/subscribe/post?u=dbdd984ad348f3f071b3185f6&amp;id=3b21c86234" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="row">
              <div class="span6">
                <div class="field email">
                  <input type="text" value="" name="EMAIL" class="cform-text" id="mce-EMAIL" placeholder="me@example.com">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </div>
              <div class="clear">
                <input type="submit" value="Jump in" name="subscribe" id="mc-embedded-subscribe" class="btn btn-theme pull-right">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>