<section id="skillup" class="section orange">
  <div class="container">
    <h4>Skill up - next workshops</h4>
    <div class="row">
      <div class="span10 alignleft">
        <p>These events and workshops are designed to give you the skills to make an impact on the world whether that is as part of a company, through your coursework or your own startup. They are hosted by the Create Lab team and other taught by both passionate students and external experts. Most are free. Sign-up for the weekly email digest to find out what's on.</p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "hack.jpg" %>
          </div>
          <div class="post-meta">
            <span class="date">Create Lab Team</span>
            <span class="date">TBA</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">How to start a business as a student</a></strong></h5>
          <p>It's entirely possible to test ideas and find the winning one whilst still at Imperial and avoid the typical grad job, we'll show you how&hellip;</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "arduino.png" %>
          </div>
          <div class="post-meta">
            <span class="date">Create Lab Team</span>
            <span class="date">TBA</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">Arduino 101</a></strong></h5>
            <p>Learn how to create basic electronics with Arduino and unlock a world of opportunities&hellip;</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "events/code.png" %>
          </div>
          <div class="post-meta">
            <span class="date">IC SaaS:</span>
            <span class="date">TBA</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">SaaS Social</a></strong></h5>
            <p>IC SaaS monthly meetup for web developers. Tech talks, networking and beer&hellip;</p>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="home-post">
          <div class="post-image">
            <%= image_tag "cad.jpg", class: "max-img" %>
          </div>
          <div class="post-meta">
            <span class="date">Robotics Society</span>
            <span class="date">TBA</span>
          </div>
          <div class="entry-content">
            <h5><strong><a href="#">3D Prototyping</a></strong></h5>
            <p>Learn how to develop physical products from idea to production&hellip;</p>
          </div>
        </div>
      </div>
    </div>

    <div class="blankdivider30"></div>
  </div>
</section>