<div id="header-wrapper" class="header-slider">
  <header class="clearfix">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div id="main-flexslider" class="flexslider">
            <ul class="slides">
              <li><p class="home-slide-content"><strong>Imperial Create Lab</strong></p></li>
              <li><p class="home-slide-content"><strong>Imperial's student led...</strong></p></li>
              <li><p class="home-slide-content"><strong>Innovation community</strong></p></li>
              <li><p class="home-slide-content"><strong>Get the connections..</strong></p></li>
              <li><p class="home-slide-content"><strong>Skills...</strong></p></li>
              <li><p class="home-slide-content"><strong>ideas &amp; experience...</strong></p></li>
              <li><p class="home-slide-content"><strong>to stand out</strong></p></li>
              <li><p class="home-slide-content"><strong>or startup</strong></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>