<section id="startup" class="section lightgray">
  <div class="container">
    <h4>Startup</h4>
    <div class="row">
      <div class="span6 alignleft">
        <p>If you find an idea that you think you could form a business around then we can provide tailored help to get it off the ground as a viable alternative to a graduate job. Due to cost and the fact that <b>we don't take equity</b> we are limited to 30 ventures per year so you will need to prove that there is customer interest. If you don't already know how test interest before building anything keep an eye out for the business skills workshops. <b>Apply by talking to any of the team at events.</b></p><br>
        <blockquote>Fact: Last year over 200 teams entered the pitch event and 30 of those are still on their way to changing the future and have raised over £1m so far.</blockquote>
      </div>
      <div class="span5 alignleft offset1">
        <h6>Access to the Co-working space</h6>
        <h6>Entrepreneurial mentor*</h6>
        <h6>Industry expert mentor*</h6>
        <h6>1:1 How to get your first 100 customers session</h6>
        <h6>Tailored UX to fully understand customers</h6>
        <h6>Brand creation assistance</h6>
        <h6>Customised capital raising strategy</h6>
        <h6>Pitch perfection for sales / investment</h6>
        <h6>Company set-up assistance (legal, governance, bank)</h6>
        <h6>Visual / product design guidance</h6>
        <br>
        <p>* We'll do our absolute best on this but obviously can't gaurantee it.</p>
      </div>
    </div>
  </div>
</section>
