<%= render "public/carousel" %>
<%= render "public/join_in" %>
<section class="blackPanel">
  <div class="container">
    <div class="row">
      <h1>The Venture Catalyst Challenge</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <br>
      <h2>Invent The Future</h2>
      <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small> </h3>
      <br>
      <h2>Get involved early</h2>
      <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small> </h3>
      <br>
      <h2>Start-up package</h2>
      <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small> </h3>
      <br>
      <btn class="btn btn-warning btn-lg">Apply</btn>
      <br>
      <h2>After VCC</h2>
      <h3><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small> </h3>
      <br>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-3">
          <img src="../../assets/EF-Logo.png" alt="EF-Logo" width="150" height="150" class="img-circle"  />
        </div>
        <div class="col-lg-2">
          <img src="../../assets/seedcamp-logo.jpg" alt="seedcamp-logo" width="150" height="150" class="img-circle"  />
        </div>
        <div class="col-lg-2">
          <img src="../../assets/2013-05-26_techstars_ID_final_bug-with-typeset1.jpg" alt="2013-05-26_techstars_ID_final_bug-with-typeset1" width="150" height="150" class="img-circle" />
        </div>
      </div>
    </div>
  </div>
</section>